* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form__container {
  height: 100vh;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}


input {
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

label {
  margin-bottom: 2px;
}

button {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #ccc;
  }
}
